@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    height: 1000px;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}

#navbar, #logo {
    transition: 0.3s;
}

#contact {
    transition: 0.3s;
}
.dropdown-menu {
    font-size: .9rem;
}
nav {
    font-family: 'Open Sans', sans-serif;
}
.nav-link {
    font-size: .9rem;
    letter-spacing: .1rem;
}
.dropdown-divider {
    margin: .25rem 0 0;
}
.nav-link::after {
    /* margin-top: 5px; */
    position: relative;
    top: 5px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:orange;
    transition: width .7s;
}
.nav-link:hover::after {
    width: 100%;
}